@model IEnumerable<AccountTransactionAPP.Models.Transaction>

<h2>Transactions</h2>

<table class="table">
    <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Natural Person</th>
        <th>Company</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TransactionDate.ToShortDateString()</td>
            <td>@item.Amount</td>
            <td>@item.TransactionType</td>
            <td>@item.NaturalPerson?.FirstName @item.NaturalPerson?.LastName</td>
            <td>@item.Company?.CompanyName</td>
        </tr>
    }
</table>
